html {
  font-family: "Roboto", Arial;
  font-size: 12px;
}

/**
 * Header
 */
.header {
  width: 100%;
  height: 5.334rem;
  line-height: 5.334rem;
}
.header--basic {
  background-color: #E31E30;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
}
.header__item {
  position: absolute;
  height: 100%;
}
.header__item--subject {
  left: 15.834rem;
}

/**
 * Container
 */
.container {
  margin-top: 5.334rem;
  padding: 1.334rem 2rem;
}

.title--basic {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.334rem;
  /* font-weight: 500; Can't show the required effect */
  font-weight: bold;
  line-height: 3.334rem;
  letter-spacing: 0.0125rem;
}

/**
 * Search bar
 */
.search {
  margin: 1.334rem auto;
  height: 3.334rem;
  position: relative;
}
.search__input {
  background: rgba(32, 32, 32, 0.05);
  border: 1px solid #B2B2B2;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.167rem;
  padding-left: 4.667rem;
  width: 35rem;
  line-height: 3.334rem;
}
.search__icon {
  position: absolute;
  left: 1.667rem;
  line-height: 3.6rem;
}
.search__icon--img {
  width: 1.459rem;
}