html {
  font-family: "Roboto", Arial;
  font-size: 12px;
}

/**
 * Header
 */
.header {
  width: 100%;
  height: 5.334rem;
  line-height: 5.334rem;
}
.header--basic {
  background-color: #E31E30;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
}
.header__item {
  position: absolute;
  height: 100%;
}
.header__item--subject {
  left: 15.834rem;
}

/**
 * Container
 */
.container {
  margin-top: 5.334rem;
  padding: 1.334rem 2rem;
}

.title--basic {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.334rem;
  /* font-weight: 500; Can't show the required effect */
  font-weight: bold;
  line-height: 3.334rem;
  letter-spacing: 0.0125rem;
}